<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mrhs.jamaapp.inr"
    android:installLocation="preferExternal"
    android:versionCode="3"
    android:versionName="0.7.9" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="mrhs.jamaapp.inr.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mrhs.jamaapp.inr.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />  
      

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="mrhs.jamaapp.inr.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.news.NewsMainActivity"
            android:label="@string/title_activity_news_main"
            android:parentActivityName="android.support.v4.app.FragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>

        <service
            android:name="mrhs.jamaapp.inr.downloader.DownloaderService"
            android:enabled="true" />

        <activity
            android:name="mrhs.jamaapp.inr.news.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.articles.ArticleActivity"
            android:label="@string/title_activity_article" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.articles.ArticleMainActivity"
            android:label="@string/title_activity_article_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.interviews.InterviewMainActivity"
            android:label="@string/title_activity_interview_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.interviews.InterviewActivity"
            android:label="@string/title_activity_interview" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.announces.AnnounceMainActivity"
            android:label="@string/title_activity_announce_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.announces.AnnounceActivity"
            android:label="@string/title_activity_announce" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.AboutUsActivity"         
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.aboutj.AboutJamaatMainActivity"
            android:label="@string/title_activity_about_jamaat_main" >
        </activity>
        <activity
            android:name="mrhs.jamaapp.inr.archive.ArchiveMainActivity"
            android:label="@string/title_activity_archive_main"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- ********************************GCM****************************** -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->	
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="mrhs.jamaapp.inr" />
            </intent-filter>
        </receiver>

        <service android:name="mrhs.jamaapp.inr.GCMIntentService" />

        <activity
            android:name="gcm.GcmTransparentDialogHandler"
            android:launchMode="singleTop" 
            android:label="@string/title_activity_gcm_transparent_dialogue_handler"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="gcm.GCMForceUpdateActivity"
            android:label="@string/title_activity_gcmforce_update" >
        </activity>
    </application>

</manifest>
